{% extends "core/master.html" %}
{% load static %}
{% block title %}
  Contato
{% endblock title %}
{% block content %}
  <div class="mt-6 px-3 md:px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-6 text-2xl text-center">Contato</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <a href="https://www.linkedin.com/in/giovani-drosda-lima/"
         target="_blank"
         rel="noopener noreferrer">
        <div class="rounded-xl w-full flex justify-start bg-gray-200">
          <div class="h-16 w-16 md:h-32 md:w-32">
            <img src="{% static "linkedin.png" %}" class="h-full" />
          </div>
          <div class="flex items-center justify-center grow">
            <h1 class="text-xl md:text-3xl text-center">Giovani Drosda</h1>
          </div>
        </div>
      </a>
      <a href="https://www.instagram.com/dev_com_cafe/"
         target="_blank"
         rel="noopener noreferrer">
        <div class="rounded-xl w-full flex justify-start bg-gray-200">
          <div class="h-16 w-16 md:h-32 md:w-32">
            <img src="{% static "instagram.png" %}" class="h-full" />
          </div>
          <div class="flex items-center justify-center grow">
            <h1 class="text-xl md:text-3xl text-center">@dev_com_cafe</h1>
          </div>
        </div>
      </a>
      <a href="{{ whatsapp_link }}" target="_blank" rel="noopener noreferrer">
        <div class="rounded-xl w-full flex justify-start bg-gray-200">
          <div class="h-16 w-16 md:h-32 md:w-32">
            <img src="{% static "whatsapp.png" %}" class="h-full" />
          </div>
          <div class="flex items-center justify-center grow">
            <h1 class="text-xl md:text-3xl text-center">{{ whatsapp_number }}</h1>
          </div>
        </div>
      </a>
      <a href="mailto:gdrosdalima@gmail.com"
         target="_blank"
         rel="noopener noreferrer">
        <div class="rounded-xl w-full flex justify-start bg-gray-200">
          <div class="h-16 w-16 md:h-32 md:w-32">
            <img src="{% static "gmail.png" %}" class="h-full" />
          </div>
          <div class="flex items-center justify-center grow">
            <h1 class="text-xl md:text-3xl text-center">gdrosdalima@gmail.com</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endblock content %}
