{% extends "core/master.html" %}
{% block title %}
    Busca
{% endblock title %}
{% block content %}
<h2 class="mb-6 text-2xl text-center">Busca</h2>
    <div class="p-3 md:grid md:grid-cols-4 md:gap-4">
        <div class="col-span-1 md:rounded-xl bg-white p-3 md:sticky md:top-0">
            <form method="get" action="{% url 'item:items' %}">
                <input name="item_query"
                       class="w-full py-4 px-6 border rounded-xl mb-2"
                       type="text"
                       value="{{ item_query }}"
                       placeholder="O que procura?" />
                <button class="w-full py-1 px-8 text-lg bg-teal-500 text-white rounded-xl">Pesquisar</button>
            </form>
            <ul class="w-full">
                <li>
                    <a href="{% url 'item:items' %}"
                       class="w-full mt-2 py-1 px-8 inline-block text-lg bg-yellow-500 text-white text-center rounded-xl">Limpar filtros</a>
                </li>
            </ul>
            <hr class="my-6" />
            <div>
                <p class="font-semibold">Categories</p>
                <ul class="flex flex-wrap">
                    {% for category in categories %}
                        <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                            <a href="{% url 'item:items' %}?item_query={{ item_query }}&category_id={{ category.id }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <div class="col-span-3">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.image_url }}" onerror="this.src='https://http.cat/404';" class="w-full h-auto rounded-t-xl" />
                            </div>
                            <div class="p-4 bg-white rounded-b-xl">
                                <h2 class="text-xl">{{ item.name }}</h2>
                                <p class="text-green-500">R$: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
